@use "./../../../node_modules/easings.scss/" as *;

.number_flip {
    display: flex;
    position: relative;
    font-size: inherit;
}

.number_container {
    font-size: inherit;
    overflow: hidden;
    position: relative;
}

.number_sizer {
    font-size: inherit;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    opacity: 0;
}

.number_slider {
    font-size: inherit;
    position: absolute;
    top: 0;
    width: 100%;
    transition: transform 0.5s $ease-in-out-cubic;
}

.number {
    width: 100%;
    font-size: inherit;
    line-height: 1;
    animation: number-in 0.5s $ease-in-out-cubic forwards;
}

@keyframes number-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.suffix {
    line-height: 1;
    height: 100%;
    font-size: 0.5em;
    display: flex;
    align-items: flex-end;
    animation: suffix-in 0.5s $ease-in-out-cubic forwards;
}

@keyframes suffix-in {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}